{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
<div class="container-fluid mt-5">
    <div class="row mb-4">
        <div class="col-md-8">
            <h1>{{ title }}</h1>
        </div>
        <div class="col-md-4 text-end">
            <a href="{% url 'employee_certification_list' %}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back
            </a>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                {{ form.employee|as_crispy_field }}
                {{ form.certification|as_crispy_field }}
                {{ form.issue_date|as_crispy_field }}
                {{ form.expiry_date|as_crispy_field }}
                {{ form.certificate_number|as_crispy_field }}
                {{ form.notes|as_crispy_field }}
            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Save
            </button>
            <a href="{% url 'employee_certification_list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
